@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.animate-scale-up {
  animation: scaleUp 1.6s ease-in-out;
}

@keyframes fly-in {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}

.custom-fly-in {
  animation: fly-in 1s ease-out infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.custom-fade-in {
  animation: fade-in 1.5s ease-in infinite;
}

#container {
  background-image: url("/images/bg-container2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#playground {
  box-shadow: 0 0 20px 2px black;
  border-radius: 10px; /* Optional: Rounded corners for smoother edges */
}
